# Dependencies
node_modules

# Build
/build
/bundle

# Env Files
.env
.env.development
.env.production
.env.local

# Miscellaneous
.DS_Store
.idea

# Debug Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp Dir
session
tmp
