$lightBlue: #007aff;
$darkBlue: #0a84ff;
$lightGreen: #34c759;
$darkGreen: #30d158;
$lightIndigo: #5856d6;
$darkIndigo: #5e5ce6;
$lightOrange: #ff9500;
$darkOrange: #ff9f0a;
$lightPink: #ff2d55;
$darkPink: #ff375f;
$lightPurple: #af52de;
$darkPurple: #bf5af2;
$lightRed: #ff3b30;
$darkRed: #ff453a;
$lightTeal: #5ac8fa;
$darkTeal: #64d2ff;
$lightYellow: #ffcc00;
$darkYellow: #ffd60a;

$materialRed: #F44336;
$materialPink: #E91E63;
$materialPurple: #9C27B0;
$materialDeepPurple: #673AB7;
$materialIndigo: #3F51B5;
$materialBlue: #2196F3;
$materialLightBlue: #03A9F4;
$materialCyan: #00BCD4;
$materialTeal: #009688;
$materialGreen: #4CAF50;
$materialLightGreen: #8BC34A;
$materialLime: #CDDC39;
$materialYellow: #FFEB3B;
$materialAmber: #FFC107;
$materialOrange: #FF9800;
$materialDeepOrange: #FF5722;
$materialBrown: #795548;